<a href="https://colab.research.google.com/github/CoderCat30/Introducci-n-al-an-lisis-de-datos-/blob/main/Laboratorio_en_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

students = [('Ana', 23, 'San Jose', 'A'),
            ('Esteban', 22, 'Heredia', 'B'), 
            ('Juan', 22, 'Heredia', 'A'),
            ('Karla', 22, 'Heredia', 'A'),
            ('Ernesto', 22, 'Heredia', 'B'),]

df = pd.DataFrame(students, columns=['Nombre', 'edad', 'ciudad', 'seccion'])

print(df)

def getIndexes(dfObj, value):
  listOfPos = []
  result = dfObj.isin([value])
  seriesObj = result.any()
  columnNames = list(seriesObj[seriesObj == True].index)
 
  for col in columnNames:
      rows = list(result[col][result[col] == True].index)
      for row in rows:
        listOfPos.append((row, col))
      return listOfPos

listOfPositions = getIndexes(df, 'B')
print('Indexe positions of 22 in DataFrames : ')
for i in range(len(listOfPositions)):
  print(listOfPositions[i])



  

  #Daniela, Allison, Kenny, Andrel

    Nombre  edad    ciudad seccion
0      Ana    23  San Jose       A
1  Esteban    22   Heredia       B
2     Juan    22   Heredia       A
3    Karla    22   Heredia       A
4  Ernesto    22   Heredia       B
Indexe positions of 22 in DataFrames :
(1, 'seccion')
(4, 'seccion')

In [ ]:
def getIndexes(dfObj, value):
  listOfPos = []
  result = dfObj.isin([value])
  seriesObj = result.any()
  columnNames = list(seriesObj[seriesObj == True].index)

  for col in columnNames:
      rows = list(result[col][result[col] == True].index)
      for row in rows:
        listOfPos.append((row, col))
      return listOfPos

In [ ]:
listOfPositions = getIndexes(df, 'A')
print('Indexe positions of 22 in DataFrames : ')
for i in range(len(listOfPositions)):
  print(listOfPositions[i])

In [ ]:
import pandas as pd 
data = {'Country': ['Costa Rica', 'India', 'Brazil' ],
        'Capital': ['San José', 'New Delhi', 'Brasilia'],
        'Population': [4500000, 1303171035, 207847528]}
df = pd.DataFrame(data,columns=['Country', 'Capital', 'Population'])
print(df)

      Country    Capital  Population
0  Costa Rica   San José     4500000
1       India  New Delhi  1303171035
2      Brazil   Brasilia   207847528

In [ ]:
print("Promedio de los elementos del vector")
suma=0
media=0
Temp=[]
print("Ingrese cantidad de tempraturas: ")
N=int(input())

for i in range(N):
  temperatura=float(input("Ingrese la temperatura: "))
  Temp.append(temperatura)
  suma = suma+Temp[i]
media = suma/N
print(media)

Promedio de los elementos del vector
Ingrese cantidad de tempraturas:
3
Ingrese la temperatura: 20
Ingrese la temperatura: 24
Ingrese la temperatura: 23
22.333333333333332

In [ ]:
import pandas as pd
mascota = pd.DataFrame(
    data = {
        'name': ['Minino', 'Milo', 'Snoppy', 'Blanco', 'LittlePony'],
        'type': ['gato', 'perro', 'perro', 'perro', 'caballo']
    },
    index=[71, 42, 11, 98, 42]
)

visitas = pd.DataFrame(
    data = {
        'pet_id': [42, 31, 71, 42, 98, 42], 
        'fecha': ['2019','2018','2016','2020','2021','2022'],
        'costo': [2000, 5000, 1000, 5000, 6000, 10000]
    }
)

mascota.index.rename('pet_id', inplace=True)
visitas.index.rename('visit_id', inplace=True)

print(mascota.query('pet_id == 42'))

print(visitas['costo'].sum())
print(visitas['costo'].min())
print(visitas['costo'].max())

print(visitas)

print(visitas.sort_values(by='costo', ascending=False))
tienda=pd.merge(mascota, visitas, how= 'cross')
print(tienda)